/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#about {
    background-color: #fff;
    padding: 20px;
}

#skills {
    background-color: #f5f5f5;
    padding: 20px;
}

#projects {
    background-color: #fff;
    padding: 20px;
}

.project {
    margin-bottom: 20px;
}

#resume {
    background-color: #f5f5f5;
    padding: 20px;
}

#contact {
    background-color: #fff;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
